.shadow {
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}
.neonText {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
.h1 {
  color: #66FCF1;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
}
.h2 {
  color: #45A29F;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}
.h3 {
  color: #b3032f;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}
.p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
}
.link {
  text-decoration: none;
  color: #45A29F;
  transition: 300ms;
}
.link:hover {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
body {
  background-color: #101116;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #45A29F;
  transition: 300ms;
}
body a:hover {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
header {
  margin-left: 10%;
  margin-top: 5%;
}
header .logo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  background-color: #45A29F;
  border-style: solid;
  border-width: 1px;
  border-color: #9fa3b9;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}
header .logo img {
  border-radius: 50%;
}
header h1 {
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
header p {
  margin-left: 5%;
  max-width: 60%;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
}
.hello {
  margin-left: 20%;
  margin-top: 5%;
}
.hello h2 {
  color: #45A29F;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
.hello p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin-left: 5%;
  max-width: 70%;
}
.article {
  padding: 2% 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #101116;
  background-color: #10141a;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  max-width: 70%;
}
p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin-left: 5%;
}
h3 {
  max-width: 80%;
  margin-left: 5%;
  margin-top: 0%;
}
h3 a {
  color: #b3032f;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: #6C63FF;
}
h3 a:hover {
  color: #66FCF1;
}
.projectlinks i {
  font-size: 22px;
  margin-top: 10px;
  margin-right: 10px;
}
footer {
  min-height: 300px;
}
ul {
  margin-left: 10%;
}
ul li {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin: 3%;
}
/*# sourceMappingURL=./blog.css.map */