.shadow {
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}
.neonText {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
.h1 {
  color: #66FCF1;
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
}
.h2 {
  color: #45A29F;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}
.h3 {
  color: #b3032f;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
}
.p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
}
.link {
  text-decoration: none;
  color: #45A29F;
  transition: 300ms;
}
.link:hover {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
body {
  background-color: #101116;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #45A29F;
  transition: 300ms;
}
body a:hover {
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
header {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 2%;
}
header .logo {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  background-color: #45A29F;
  border-style: solid;
  border-width: 1px;
  border-color: #9fa3b9;
  margin-bottom: 2%;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}
@media (max-width: 1000px) {
  header .logo {
    max-height: 120px !important;
    max-width: 120px !important;
  }
}
@media (max-width: 780px) {
  header .logo {
    display: none;
  }
}
header .logo img {
  max-height: 150px !important;
  max-width: 150px !important;
}
@media (max-width: 1000px) {
  header .logo img {
    max-height: 120px !important;
    max-width: 120px !important;
  }
}
header .logo img {
  border-radius: 50%;
  max-width: 200px;
}
header h1 {
  font-weight: 100;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
@media (max-width: 1000px) {
  header h1 {
    font-size: 40px;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 25px;
  }
}
header p {
  margin-left: 5%;
  max-width: 60%;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
}
@media (max-width: 1000px) {
  header p {
    font-size: 14px;
  }
}
.hello {
  max-width: 70%;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
}
.hello h2 {
  color: #45A29F;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: #66FCF1;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #45A29F, 0 0 150px #45A29F, 0 0 200px #45A29F, 0 0 300px #45A29F, 0 0 500px #45A29F;
}
@media (max-width: 1000px) {
  .hello h2 {
    font-size: 25px;
  }
}
.hello p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin-left: 5%;
}
@media (max-width: 1000px) {
  .hello p {
    font-size: 12px;
  }
}
.article {
  padding: 2% 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #101116;
  background-color: #10141a;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  max-width: 70%;
}
@media (max-width: 800px) {
  .article {
    flex-direction: column;
  }
  .article h3 {
    text-align: center;
    max-width: 90%;
  }
  .article p {
    font-size: 12px;
  }
}
@media (max-width: 1500px) {
  .article {
    max-width: 85%;
  }
}
@media (max-width: 759px) {
  .article {
    max-width: 90%;
  }
}
.article .articlelogo {
  max-width: 400px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .article .articlelogo {
    max-width: 300px;
  }
}
@media (max-width: 800px) {
  .article .articlelogo {
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
@media (max-width: 500px) {
  .article .articlelogo {
    max-width: 200px;
  }
}
p {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin-left: 5%;
}
@media (max-width: 1000px) {
  p {
    font-size: 12px;
  }
}
h3 {
  max-width: 80%;
  margin-left: 5%;
  margin-top: 0%;
}
h3 a {
  color: #b3032f;
  font-weight: 300;
  font-family: 'Source Code Pro', monospace;
  font-size: 30px;
  color: #6C63FF;
}
@media (max-width: 1000px) {
  h3 a {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  h3 a {
    font-size: 18px;
  }
}
h3 a:hover {
  color: #66FCF1;
}
ul {
  margin-left: 10%;
}
ul li {
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  margin: 3%;
}
@media (max-width: 1000px) {
  ul li {
    font-size: 12px;
  }
}
nav .navbar-toggler {
  border-color: #0d304a;
}
nav .menuimage:hover {
  transform: rotate(360deg);
}
nav .nav-link {
  color: white;
  font-size: 25px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 20px;
  transition: all 300ms ease;
  padding-bottom: 10px;
}
nav .nav-link:hover {
  color: var(--links);
  text-decoration: underline solid 2px #6C63FF;
}
nav .navbar {
  background: var(--color-bg-grey);
  border-bottom: 4px solid #961d6e;
}
nav .menulogo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 40px;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
  transition: all 300ms ease;
}
nav .menulogo:hover {
  transform: scale(1.4);
}
footer {
  display: flex;
  justify-content: end;
  font-size: 18px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  color: #C4C6C7;
  align-items: baseline;
  margin: 6%;
}
@media (max-width: 750px) {
  footer {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  footer .bloglogofooter {
    display: none;
  }
}
footer .bloglogofooter img {
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #45A29F, 0 0 30px #45A29F, 0 0 40px #45A29F, 0 0 50px #45A29F;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  transition: all 300ms ease;
}
footer .bloglogofooter img:hover {
  transform: scale(1.4);
}
footer i {
  margin: 2%;
  font-size: 30px;
  transition: all 300ms;
}
footer i:hover {
  transform: scale(1.5);
}
@media (max-width: 600px) {
  .projectarticle {
    flex-direction: column;
  }
  .projectarticle h3 {
    text-align: center;
  }
  .projectarticle p {
    font-size: 12px;
  }
}
.projectarticle .projectlogo {
  max-width: 200px !important;
  height: auto;
}
@media (max-width: 600px) {
  .projectarticle .projectlogo {
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 10%;
  }
}
@media (max-width: 400px) {
  .projectarticle .projectlogo {
    max-width: 100px;
  }
}
@media (max-width: 400px) {
  .projectarticle .projectlogo {
    max-width: 80px;
  }
}
@media (max-width: 600px) {
  .projectarticle .projectlinks {
    margin: 5%;
  }
}
.projectarticle .projectlinks i {
  font-size: 22px;
  margin-top: 10px;
  margin-right: 10px;
}
/*# sourceMappingURL=./blog.css.map */