// out: "../styles/post.css", compress: false, sourceMap: true
@import "vars.less";

body {
 width: 100%;
 background-color: @blog-background;
 a{.link}
 .article{
    padding: 5% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: @blog-background;
    background-color: @blog-article-bg;
    .shadow;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    max-width: 85%;
    @media(max-width: 1000px){flex-direction: column;
        max-width: 95%;}
    .articleimage{
        max-width: 1000px;
        margin: 0 auto;
        @media(max-width:1200px){max-width:700px;}
        @media(max-width:1000px){max-width:600px;}
        @media(max-width:800px){max-width:500px;}
        @media(max-width:700px){max-width:400px;}
        @media(max-width:600px){max-width:300px;}

    }
   }
 
p{
    .p;
    margin-top: 5%;
    margin-left: 5%;
    @media(max-width:800px){font-size: 12px;}}
h3{
    margin-left: 5%;
    margin-top: 5%;
    text-transform: capitalize;
    a{
        .h3;
        color:@blog-heading;
        @media(max-width:300px) { font-size: 18px; }
        @media(max-width:800px){font-size: 20px;}
    &:hover{color: @blog-heading; }}}
h5{ 
    text-align: center;
    text-transform: capitalize;
    .h3;
    margin-top: 3%;
    font-size: 20px;
    color:@blog-heading;
    font-weight: 500;
    @media(max-width:300px) { font-size: 18px; }}}
ul{
    margin-left: 10%;
    li{ .p;
        margin: 3%;}}

nav{
    .navbar-toggler{
    border-color:  #0d304a;}
    .menuimage:hover{
    transform: rotate(360deg);}
    .nav-link{
    color: white;
    font-size: 25px;
    font-family: open-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 20px;
    transition: all 300ms ease;
    padding-bottom: 10px;}
    .nav-link:hover{
    color: @links;
    text-decoration: underline solid 2px @purple;}
    .navbar{
    background: var(--color-bg-grey);
    border-bottom: 4px solid @color-header-border;}
    .menulogo{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: 40px;
        .shadow;
     }}
header{ 
    margin-bottom: 10%;
        text-align: center;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media(max-width:1000px) { flex-direction: column;}
     h3{
        align-items: center;
        display: inline-block;
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
        @media(max-width:300px) { font-size: 18px; }
   }
    .logo{ 
        margin: 0 auto;
        max-width: 500px;
        height: auto;
        @media(max-width:1500px) { max-width: 300px; }
        @media(max-width:1000px) { max-width: 300px; }
        @media(max-width:450px) { display: none; }}}

.more{
    color: @purple;}

footer{
    display: flex;
    justify-content: end;
    @media(max-width: 750px){justify-content: center;}
    .bloglogofooter{ 
        @media(max-width:500px){display: none;}
    img{.shadow;
         border-radius: 50%;
         width: 120px;
         height: 120px;
         }}
        .p;
        align-items: baseline;
        margin: 6%;
    i{
         margin: 2%;
         font-size: 30px;
         transition: all 300ms;
         &:hover{transform: scale(1.5); }}}
    
