// out: "../styles/post.css", compress: false, sourceMap: true
@import "vars.less";

body {
 width: 100%;
 background-color: @blog-background;
 a{.link}
 .article{
    padding: 5% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: @blog-background;
    background-color: @blog-article-bg;
    .shadow;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    max-width: 70%;
    .logo{
        margin: 2%;
        max-width: 30%
    }}
 
    p{.p;
        margin-top: 5%;
        margin-left: 5%;
    }
    h3{ margin-left: 5%;
        margin-top: 5%;
        a{.h3;
            color:@blog-heading;
        &:hover{color: @blog-heading;}}
    }
}